*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(20, 20, 20)!important;
}


.box{
    background-color: rgb(24, 24, 24);
    color: #f8f9fa;
}